pylint
pygit2
coverage
pytest
pyyaml
pre_commit
matplotlib
pandas
numpy
requests-kerberos
pymongo
graphviz
intervaltree
flake8
python-louvain
reportlab
svglib
bokeh
webcolors
psycopg2
django
onnx==1.5.0
networkx==2.3
tensorflow==1.15.0
uwsgi
